#track-search-container{

    display: block;
    max-width: 800px;
    padding: 15px;
    margin: auto;

}

#txtSearch{

    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    font-size: 15px;
    display: inline-block;
    padding: 8px 10px;
    width: 80%;

}

#btnSearch{

    border: none;
    background-color: #fff;
    color: #553778;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 10px;
    display: inline-block;
    width: 20%;

}

#result-container{

    overflow-y: auto;
    transition: height 1s;
    text-align: center;
    background-color: rgba(0,0,0,.03);
    max-height: 40%;
    
}

.result{

    width: 200px;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    margin: .4rem;
    cursor: pointer;
}

.result:hover{

    filter: brightness(2);

}

#visualizer{

    transform: scaleY(-1);
    position: absolute;
    left: 0;
    top:0;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: blur(20px);

}

iframe{

    pointer-events: none;
    display: block;
    margin: auto;
    width: 640px;
    height: 0;
    transition: height 1s;

}

#control-container{

    visibility:hidden;
    display: block;
    text-align: center;
    margin:1.5rem;

}

#control-container > input{

    display: inline-block;
    border: none;
    height: 40px;
    font-size: 15px;
    width: 100px;
}

#btnStartStop{

    background-color: gainsboro;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

#btnReplay{

    background-color: gainsboro;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

#session-container{
    border-radius:3px;
    display: block;
    max-width: 600px;
    padding: 15px;
    margin: auto;
    visibility: hidden;
}

#session-container-title{
    color: #553778;
}

#session-container>ul{ 
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    height: 100px;
}

#session-container>ul>li{
    width: 96px;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
}

#session-container>ul>li:hover{
    background-color:  rgba(0,0,0,.1);
}

#session-container>ul>li>span{
   display: block;
   font-size: 12px;
   margin-bottom: 2px;
   color: #666;
   font-weight: 800;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   line-height: 15px;
}

#session-container>ul>li>img{
    height: 55px;
    width: 100%;
    border-radius: 2px;
}

#welcomeMessage{
    height: 300px;
    text-align: center;
    display: block;
    margin: auto;
    transition: all 500ms;
}