@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Lato');

html{
    zoom: 115%;
}

*{
    font-family: 'Lato';
    transition: all 150ms;
    outline: none;
}

body{
    background-color: whitesmoke;
}

input[type="button"], button{
    cursor: pointer;
}

input[type="button"]:hover, button:hover{
    box-shadow: inset 0 0 5px 100px rgba(0, 0, 0, .15);
}

body{
    margin: 0;
}

header{
    width:100%;
    background-color: #553778;
    text-align: center;
    padding: .7rem 0;
}

#header-title{
    font-family: 'Staatliches';
    font-size: 3rem;
    color: fff;
}

#header-tagline{
    font-family: 'Lato';
    font-size: .9em;
    color: fff;
    display: block;
    margin-top: -.5rem;
}
