#track-search-container{

    background-color: whitesmoke;
    display: block;
    max-width: 480px;
    padding: 15px;
    margin: auto;
    border-radius: 5px;

}

#track-search-container>form{

    display: flex;

}

#txtSearch{

    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    flex:1;

}

#btnSearch{

    border: none;
    background-color: cadetblue;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 0 10px;

}

#result-container{
    overflow-y: scroll;
    max-height: 300px;
    background-color: rgb(250, 250, 250);
    box-shadow: inset 0 0 10px rgb(206, 206, 206);
    transition: height 700ms;
}

.result{

    display:block;
    padding: 12px;
    border-bottom: 2px solid rgb(238, 238, 238);

}

.result:hover{

    background-color: gainsboro;

}

.result>img{

    border-radius: 5px;
    margin-top: 5px;

}

.result>span{

    color: cadetblue;
    font-weight: 400;

}

#visualizer{

    transform: scaleY(-1);
    position: absolute;
    left: 0;
    top:0;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: blur(20px);

}

iframe{

    pointer-events: none;
    display: block;
    margin: auto;
    width: 500px;
    height: 0;
    transition: height 700ms;

}

#control-container{

    width: 480px;
    background-color: white;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0; 
    right: 0; 
    padding: 15px;
    margin-left: auto; 
    margin-right: auto; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 0 35px gainsboro;

}

#control-container > input{

    flex:1;
    border: none;
    height: 50px;
    font-weight: bold;
    font-size: 15px;

}

#btnStartStop{

    background-color: gainsboro;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

#btnReplay{

    background-color: gainsboro;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}